[build-system]
requires = [
  "setuptools",
  "wheel",
  "build",
  "cython",
  "numpy"
]
build-backend = "setuptools.build_meta"

[project]
name = "cubist"
version = "1.0.1"
authors = [
  {name = "Ross Quinlan"},
  {name = "Max Kuhn"},
  {name = "Patrick Aselin"},
]
maintainers = [
  {name = "Patrick Aselin"}
]
description="A Python package for fitting Ross Quinlan's Cubist regression model."
readme = {file = "README.md", content-type = "text/markdown"}
classifiers = [
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Intended Audience :: Science/Research",
  "Topic :: Software Development :: Libraries",
  "Topic :: Scientific/Engineering :: Artificial Intelligence",
  "Topic :: Scientific/Engineering :: Mathematics",
  "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]
dependencies = [
  "numpy",
  "pandas>=2.2.2",
  "scikit-learn>=1.6.0",
]

[project.optional-dependencies]
dev = [
  "pre-commit",
  "pytest",
  "ruff",
  "coverage",
  "pylint"
]
viz = [
  "matplotlib"
]
docs = [
  "Sphinx>=8.1.3",
  "furo>=2024.8.6",
  "sphinx-copybutton>=0.5.2",
  "matplotlib>=3.10.0",
  "sphinx-design>=0.6.1",
  "numpydoc>=1.8.0",
  "sphinx-autobuild>=2024.10.3"
]

[project.urls]
Homepage = "https://github.com/pjaselin/Cubist"
Repository = "https://github.com/pjaselin/Cubist.git"
Issues = "https://github.com/pjaselin/Cubist/issues"

[tool.setuptools]
packages = [
  "cubist",
  "cubist.src"
]

[tool.pytest.ini_options]
addopts = "-v -s"
filterwarnings = "ignore:np.asscalar:DeprecationWarning"

[tool.coverage.run]
branch = true
omit = [
  "*/tests/*"
]

[tool.coverage.report]
skip_covered = true

[tool.pylint.'MESSAGES CONTROL']
ignore-paths = '^docs/.*$'
good-names = [
  "X",
  "X_train",
  "X_test"
]

[tool.isort]
known_first_party = ["_cubist"]
profile = "black"

[tool.doc8]
ignore = ["D001"]
