name: Test and Lint Cubist

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Test and lint on Python 3.11 and ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: "3.11"

    - name: Enable Developer Command Prompt for Windows
      if: matrix.os == 'windows-latest'
      uses: ilammy/msvc-dev-cmd@v1

    - name: Add sys/time.h for Windows
      if: matrix.os == 'windows-latest'
      run: |
        cp -r winsys/ cubist/sys

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[viz,docs,dev]

    - name: Lint with Ruff
      run: ruff check

    - name: Test with pytest
      run: |
        pip install coverage pytest
        coverage run -m pytest --junit-xml=junit.xml -o junit_family=legacy
        coverage report -m

    - name: Upload test results to Codecov
      if: ${{ !cancelled() }}
      uses: codecov/test-results-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v4
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

    - name: Test Docs
      run: make doctest -C ./docs/

    - name: Collect Docs coverage
      run: make coverage -C ./docs/

    - name: Build Docs
      run: make html -C ./docs/

    - name: Upload artifacts
      # id: deployment
      uses: actions/upload-pages-artifact@v3
      with:
        path: docs/_build/html

    - name: Deploy to GitHub Pages
      # id: deployment
      uses: actions/deploy-pages@v4
