name: Test and Lint Cubist

on:
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint-and-test-across-python-versions:
    name: Lint and test on ubuntu-latest with ${{ matrix.python-version }}
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.8"

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --extra viz

      - name: Lint with Ruff
        run: uv run ruff check

      - name: Test with pytest
        run: |
          uv run coverage run -m pytest --junit-xml=junit.xml -o junit_family=legacy
          uv run coverage report -m

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  lint-and-test-across-operating-systems:
    name: Lint and test on ${{ matrix.os }} with Python 3.12
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.8"

      - name: Set up Python 3.12
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Enable Developer Command Prompt for Windows
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Add sys/time.h for Windows
        if: matrix.os == 'windows-latest'
        run: |
          cp -r winsys/ cubist/sys

      - name: Install dependencies
        run: uv sync --extra viz

      - name: Lint with Ruff
        run: uv run ruff check

      - name: Test with pytest
        run: |
          uv run coverage run -m pytest --junit-xml=junit.xml -o junit_family=legacy
          uv run coverage report -m

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test-docs:
    name: Test and build docs on ubuntu-latest
    runs-on: ubuntu-latest
    needs:
      - lint-and-test-across-python-versions
      - lint-and-test-across-operating-systems

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.8"

      - name: Install dependencies
        run: uv sync --group docs

      - name: Test Docs
        run: make doctest -C ./docs/

      - name: Collect Docs coverage
        run: make coverage -C ./docs/

      - name: Build Docs
        run: make html -C ./docs/
